pydantic>=1.10,<2
pyyaml
aiohttp
websockets
redis
prometheus_client
pandas>=2.2.0
numpy>=2.2.0
matplotlib>=3.10.0
tabulate>=0.9.0
colorama>=0.4.6
ccxt>=4.4.0
pandas-ta
dash
dash_bootstrap_components
plotly
aioredis
scikit-learn
lightgbm
mlflow
torch
